<div class="contents_new">
  <h3>投稿する</h3>
  <div class="container">
    <%= form_with(model: @post, local: true, class:"new_post_form") do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <%= f.file_field :image, id:"post-image", class:"post_image" %>
        <div id="image-list" ></div>
      <%= f.text_field :name, placeholder: "name", class:"new_post" %>
      <%= f.text_area :text, placeholder: "text", rows: "10", class:"new_post" %>
      <%= f.submit "SEND", class:"new_post" %>
    <% end %>
  </div>
</div>